@page
@model JobRanger.Pages.Job.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 class="display-3">
    <strong>Jobs</strong>
</h3>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="table-responsive-sm">

    <table class="table table-striped table-responsive-sm">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Employer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Interactions)
            </th>

        </tr>

        </thead>
        <tbody>
        @foreach (var item in Model.AppUser.Jobs)
        {
            <tr>
                <td>
                    <h5> @Html.DisplayFor(modelItem => item.Name)</h5>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <a asp-page="../Employer/Details" asp-route-id="@item.EmployerId">
                        <h4>@Html.DisplayFor(modelItem => item.Employer.Name)</h4>
                    </a>

                </td>
                <td>
                    <p style="height: 50px; overflow: auto; width: 100%;"> @Html.DisplayFor(model => item.Description)</p>

                </td>

                @if (item.Interactions.Count > 0)
                {
                    <td>
                        @foreach (var interaction in item.Interactions)
                        {
                            <a asp-page="../Interactions/Details" asp-route-id="@interaction.Id">@Html.DisplayFor(modelItem => interaction.InteractionTypeName)</a>
                            <span class="tab-content"> @Html.DisplayFor(modelItem => interaction.TargetTime)</span>
                            <br/>
                        }
                    </td>
                }
                else
                {
                    <td>
                        No Interactions
                    </td>
                }

            </tr>
            <tr>

                <td colspan="3">
                    <a asp-page="../Interactions/Create" asp-route-id="@item.Id">Add Action</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
        </tbody>


    </table>

</div>