@page
@model JobRanger.Pages.Documents.IndexModel

@{
    ViewData["Title"] = "Documents";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-2"><strong>Documents</strong></h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].ContentSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].UploadDT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Document) {
        <tr>
            <td>
                <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDT)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
