@page
@model JobRanger.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-3">
    <strong>Contacts</strong>
</h1>

<p>
    <a asp-page="Create">Add Contact</a>
</p>

<div class="table-responsive-sm">
    <table class="table table-responsive-sm">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].PhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Employer)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.AppUser.Contacts)
        {
            <tr>
                <td>
                    <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @{
                    if (item.PhoneNumber != null)
                    {
                        <td>

                            @{
                                var area = item.PhoneNumber.Substring(0, 3);
                                var prefix = item.PhoneNumber.Substring(3, 3);
                                var main = item.PhoneNumber.Substring(6, 4);

                                var final = "(" + area + ") " + prefix + "-" + main;
                            }

                            @final


                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }

                <td>
                    <a asp-page="../Employer/Details" asp-route-id="@item.EmployerId">@Html.DisplayFor(modelItem => item.Employer.Name)</a>

                </td>
                <td>
                    <a asp-page="../Interactions/CreateWithContact" asp-route-id="@item.Id">Add Action</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>